/* CSS Document */

*, *::after, *::before {
  box-sizing:border-box;  
}
/*********************/
/* Custom properties */
/*********************/
:root{
  --kleur-tekstvak:rgb(255, 255, 255);
  --kleur-tekst:rgb(0, 0, 0);
  --kleur-pokebalsection: rgb(255, 255, 255);
  --kleurborder: rgb(0, 0, 0);
  --kleur-dropshadow: rgb(187, 2, 2);
  --kleur-tekst-button: rgb(187, 2, 2);
  --kleur-button-achtergrond: rgb(255, 255, 255); 
}
/*********************/
/* Lettertype pixeled*/
/*********************/

@font-face {
  font-family: 'pixeled';
  src: url('../fonts/pixeled-webfont.woff2') format('woff2'),
       url('../fonts/pixeled-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/********************/
/* Algemene opmaak */
/********************/

html, body {
  height:100%;
  margin:0;
  
}

/* cursur opmaak */

body, button {
  cursor: url('../images/Pok-ball.png')36 38, auto;
}
body.masterbal, body.masterbal button {
  cursor: url('../images/masterball.png')36 38, auto;
}
body.pokebal, body.pokebal button{
  cursor: url('../images/Pok-ball.png')36 38, auto;
}
body.trainerbal, body.trainerbal button{
  cursor: url('../images/pokebalMaster.png')36 38, auto;
}
body.hyperbal, body.hyperbal button{
  cursor: url('../images/hyberball.png') 36 38, auto;
}

/* bron opmaak ol li:  https://codepen.io/shooft/pen/XWZKdgM */

ol {
  height:100vh;
  display:flex;
  margin:0em;
  padding:0em;
  list-style-type:none;
}

li{
  display:grid;
	place-items:center;
	flex-grow:1;
	flex-basis:0%;
  transition:1s;
  overflow:hidden;
}

section{
  border: 3px  var(--kleurborder) solid;
  background-color:var(--kleur-pokebalsection);
	width:30%;
	display:flex;
	justify-content:center;
  align-items:center;
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 35%;
  
}
/* buttons van de pokeballs */

button{
  padding:0%;
  margin: 0px 10px;
  appearance:none;
  background:none;
  border:none;
  width: 30%;
  height: auto;
  transition:transform 1s;
}

button:hover{
  transform:scale(1.3);
}

button:focus{
  filter:
  drop-shadow(0 0 .25em var(--kleur-dropshadow))
  drop-shadow(0 0 .5em var(--kleur-dropshadow));
}

button:active{
  transform:perspective(4em) rotateY(180deg);
	transition:0s;
}

section button.active{
  transform: scale(1.2);
}

button img{
  display: block;
  width:80%;
  transition:.2s;
}

li.open {
  flex-basis:60%;
}

li.open p{
  opacity: 1;
}

li button{
  background-color: var(--kleur-button-achtergrond); 
  border: 3px solid var(--kleurborder);
  color: var(--kleur-tekst-button);
  position: absolute;
  top: 60%;
  width: 14vw;
  height: 8vh;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.5em;
  font-family: 'pixeled', Arial, 'Times New Roman', Times, serif ;
  transition:transform 1s;
}

li button:active{
  transform:scale(1.3);
}

p {
  background-color:var(--kleur-tekstvak);
  width:40vw;
  height:20vh;
  font-family:'pixeled', Arial, 'Times New Roman', Times, serif;
  font-size: 0.5em;
  border-style:double;
  border-width:10%;
  padding:1em;
  margin:0.5em;
  position:absolute;
  top:5%;
  overflow:hidden;
  opacity:0;
}

/***********/
/* berries */
/***********/

/* Berry Red */

img.berryRed {
  position: absolute;
  top: 70%;
  left: 5%;
  opacity: 0;
  width: 10%;
  height: 10%;
  transform: scale(0.5);
}

.berryRed:hover{
  animation: bounce 1s;
  animation-direction: alternate;
  animation-iteration-count: 5;
  opacity: 1;
  width: 10%;
  height: auto;
}
/* Berry Gold */

img.berryGold {
  position: absolute;
  top: 20%;
  left: 5%;
  opacity: 0;
  width: 10%;
  height: 10%;
  transform: scale(0.5);
}

.berryGold:hover{
  animation: bounce 1s;
  animation-direction: alternate;
  animation-iteration-count: 5;
  opacity: 1;
  width: 10%;
  height: auto;
}

/* berry Emerald */

img.berryEmerald {
  position: absolute;
  top: 70%;
  left: 90%;
  opacity: 0;
  width: 10%;
  height: 10%;
  transform: scale(0.5);
}

.berryEmerald:hover{
  animation: bounce 1s;
  animation-direction: alternate;
  animation-iteration-count: 5;
  opacity: 1;
  width: 10%;
  height: auto;
}

/* berry Diamond */

img.berryDiamond {
  position: absolute;
  top: 30%;
  left: 5%;
  opacity: 0;
  width: 10%;
  height: 10%;
  transform: scale(0.5);
}

.berryDiamond:hover{
  animation: bounce 1s;
  animation-direction: alternate;
  animation-iteration-count: 5;
  opacity: 1;
  width: 10%;
  height: auto;
}


/**********************/
/* Opmaak van de gifs */
/**********************/

/* pokemon gif Red */

li:nth-of-type(1) img{
  width:12vw;
  height:auto;
  position:absolute; 
}

/* pokemon gif Gold */

li:nth-of-type(2) img{
  width:16vw;
  height:auto;
  position:absolute; 
  transform:scaleX(-1);
}

/* pokemon gif Emerald */

li:nth-of-type(3) img{
  width:7vw;
  height:auto;
  position:absolute; 
  transform:scaleX(-1);
}

/* pokemon gif Diamond */

li:nth-of-type(4) img{
  width:7vw;
  position:absolute; 
}
/*******************************/
/* Opmaak van de achtergronden */
/*******************************/

/* pokemon yellow green red */

li:nth-of-type(1) {
  position:relative;
  background-image:url("../images/red green.png");
  background-size:auto 80vw;
 

  animation-name:slideRed;
  animation-duration:10s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

/* pokemon gold */

li:nth-of-type(2) {
  position:relative;
  background-image:url("../images/yellow.png");
  background-size:130vw 130vw;
  background-position:center;

  animation-name:slideGold;
  animation-duration:10s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

/* pokemon emerald */

li:nth-of-type(3) {
  position:relative;
  background-image:url("../images/emeraldachterdaycare.png");
  background-size:190vw 70vw;
  background-position:center;

  animation-name:slideEmerald;
  animation-duration:10s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
} 

/* pokemon diamond */

li:nth-of-type(4) {
  position:relative;
  background-image:url("../images/diamondtwinleaf.png");
  background-size:110vw 110vw;

  background-position: center;

  animation-name:slideDiamond;
  animation-duration:10s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
/***********************/
/* keyframe animaties */
/***********************/

/* Animatie pokemon Red */

@keyframes slideRed {
  0% {background-position: 0% center}
  100%{background-position: 70% center}
}

/* Animatie pokemon Gold */

@keyframes slideGold {
  0% {background-position: 10% center;}
  100%{background-position: 65% center;}
}

/* Animatie pokemon Emerald */

@keyframes slideEmerald {
  0% {background-position: 0% center;}
  100%{background-position: 50% center;}
}

/* Animatie pokemon Emerald */

@keyframes slideDiamond {
  0% {background-position: 45% 0%;}
  100% {background-position: 45% 50%;}
}

@keyframes bounce {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

/* */
