/* CSS Document */

*, *::after, *::before {
  box-sizing:border-box;  
}

/* Custom properties */

:root{
  --kleur-tekstvak:rgb(255, 255, 255);
  --kleur-achtergronddiv:rgb(255, 255, 255);
  --kleur-tekst:rgb(0, 0, 0);
  --kleur-pokebalsection: rgb(255, 255, 255);
}

/* Lettertype pixeled*/
@font-face {
  font-family: 'pixeled';
  src: url('../fonts/pixeled-webfont.woff2') format('woff2'),
       url('../fonts/pixeled-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Algemene opmaak */

html, body {
  height:100%;
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}

ol {
  height:100vh;
  display:flex;
  margin:0em;
  padding:0em;
  list-style-type:none;
}

li{
  display:grid;
	place-items:center;
	flex-grow:1;
	flex-basis:0%;
  transition:1s;
  overflow:hidden;
}

section{
  
  border: 3px   black solid;
  background-color:var(--kleur-pokebalsection);

  position:relative;
	width:30%;
	
	display:flex;
	justify-content:center;
  align-items:center;
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 35%;
}

button{
  padding:0%;
  margin: 0px 10px;
	appearance:none;
	background:none;
  border:none;
  width: 30%;
  height: auto;
  transition:transform 1s;
}

button:hover{
  cursor:pointer;
  transform:scale(1.1);
}

button:focus{
  filter:
		drop-shadow(0 0 .25em rgb(187, 2, 2))
		drop-shadow(0 0 .5em rgb(187, 2, 2));
}

button:active{
  transform:perspective(3em) rotateY(180deg);
	transition:0s;
}
button img{
  display: block;
  width:5em;
  transition:.2s;
}

li:hover {
	flex-basis:60%;
}

p {
  background-color:var(--kleur-tekstvak);
  width:50%;
  height:20%;
  font-family:'pixeled', Arial, 'Times New Roman', Times, serif;
  
  border-style:double;
  border-width:1em;
  font-size:0.5em;
  padding:1em;
  margin:0.5em;

  position:absolute;
  top:5%;
  left:5%;
  overflow:hidden;
  opacity:0;
}

li:hover p{
  opacity:1;
}

/* Opmaak van de gifs */
/* pokemon gif yellow green red */

li:nth-of-type(1) img{
  width:12em;
  height:auto;
  position:absolute; 
}

/* pokemon gif gold */

li:nth-of-type(2) img{
  width:16em;
  height:auto;
  position:absolute; 
  transform:scaleX(-1);
}

/* pokemon gif emerald */

li:nth-of-type(3) img{
  width:7em;
  height:auto;
  position:absolute; 
  transform:scaleX(-1);
}

/* pokemon gif diamond */

li:nth-of-type(4) img{
  width:7em;
  position:absolute; 
}

/* Opmaak van de achtergronden */
/* pokemon yellow green red */

li:nth-of-type(1) {
  position:relative;
  background-image:url("../images/red green.png");
  background-size:80vw 80vw;
  background-position:center;

  animation-name:slideRed;
  animation-duration:10s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

/* pokemon gold */

li:nth-of-type(2) {
  position:relative;
  background-image:url("../images/yellow.png");
  background-size:130vw 130vw;
  background-position:center;

  animation-name:slideGold;
  animation-duration:10s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

/* pokemon emerald */

li:nth-of-type(3) {
  position:relative;
  background-image:url("../images/emeraldachterdaycare.png");
  background-size:190vw 70vw;
  background-position:center;

  animation-name:slideEmerald;
  animation-duration:10s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
} 

/* pokemon diamond */

li:nth-of-type(4) {

  position:relative;
  background-image:url("../images/diamondtwinleaf.png");
  background-size:110vw 110vw;

  background-position: center;

  animation-name:slideDiamond;
  animation-duration:10s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

/* keyframe animaties */

@keyframes slideDiamond {
  0% {background-position: 45% 0%;}
  100% {background-position: 45% 50%;}
}

@keyframes slideEmerald {
  0% {background-position: 0% 25%;}
  100%{background-position: 50% 25%;}
}

@keyframes slideGold {
  0% {background-position: 10% 60%;}
  100%{background-position: 65% 60%;}
}

@keyframes slideRed {
  0% {background-position: 0% 10%;}
  100%{background-position: 70% 10%;}
}

@keyframes flip {
  0% {
      transform: rotateY(0);
  }

  100% {
      transform:rotateY(180deg);
  }
}
/* */
